<configuration>

  <springProperty name="SLACK_LOG_WEB_HOOK_URL" source="SLACK_LOG_WEB_HOOK_URL" defaultValue=""/>

  <!-- prod 환경: 콘솔 + Slack 에러 알림 -->
  <springProfile name="prod">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>

    <appender name="SLACK" class="upbrella.be.config.logging.SlackAppender">
      <webhookUrl>${SLACK_LOG_WEB_HOOK_URL}</webhookUrl>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="SLACK"/>
    </root>
  </springProfile>

  <!-- 다른 환경에서는 콘솔만 -->
  <springProfile name="!prod">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>
